tags
.vim/.netrwhist
.vim/plugged
.vim/.undo
.vim/.netrwhist
.vim/.cache
diff-so-fancy
plug.vim.old
.solargraph.yml
lazygit/*
!lazygit/config.yml
duplicity/*
!duplicity/backup.sh
!duplicity/excludes.conf
openvpn/credentials.conf
openvpn/uk.protonvpn.com.udp.ovpn
nvim.appimage
nvim/plugin/packer_compiled.lua
nvim/spell/*
ranger/plugins
ranger/devicons

tmux/plugins/**
tmux/resurrect/**
zsh/secrets.sh
zsh/.zsh_history
zsh/.zsh_sessions
zsh/.zcompdump
zsh/plugins
zsh/.zcompcache
