tags
.vim/.netrwhist
.vim/plugged
.vim/.undo
.vim/.netrwhist
.vim/.cache
diff-so-fancy
plug.vim.old
.solargraph.yml
lazygit/*
!lazygit/config.yml
duplicity/credentials
duplicity/passphrase
duplicity/client_secrets.json
duplicity/username
