configuration {
	width: 500;
	show-icons: true;
	terminal: "kitty";
	auto-select: false;
	theme: "nord";
	display-run: " ";
	display-drun: "  ";
	display-window: "  ";
	drun-display-format: "{icon} {name}";
	font: "Source Code Pro for Powerline Medium 11";
	modi: "window,run,drun";
	show-icons: true;
}
