configuration {
	font: "Source Code Pro for Powerline medium 11";
	show-icons: true;
	icon-theme: "Papirus";
	disable-history: false;
	fullscreen: false;
	hide-scrollbar: true;
	dynamic: true;
	width: 600;
	yoffset: -100;
}

@import "nord.rasi"

inputbar {
	enabled: false;
}

listview {
	cycle: true;
}
